
/* ------------------- new (articles & columns) -------------------- */

.ejcolumn 	{float:left; height: auto; position:relative;}
.column2 	{float:left; height: auto;}

.imgbox, {width:100%;}
.txtbox {margin-top: 1em; width:100%; display: inline-block; /*background: grey;*/}
.imgbox img {width:100%}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 



.rightcol	{margin-right: 1em;} 
.img		{ } 
/*.newsblock	{width: 100%}*/
.random		{width: 100%}
.keywords   {float:left; margin-top: 2em;}
.imgbox img {width:100%}
#widthIndicator {width:320px}

}

@media (min-width:620px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
/*.menufield 	{background-color:orange;}*/

.rightcol	{float:left; margin-left: 0; height:auto;}
.topright2	{visibility: hidden;}
.img		{max-width: 700px;} 
.pagenavtitles {margin-right:2em;}
/*.newsblock	{width: 20em}*/
.random		{width: 20em}
.keywords   {float:left;}
.pagenavtitles 	{ float:left; margin-top: 1em; }



}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
/*.menufield 	{background-color:blue}*/

.article 	{max-width: 1088px;}
.topright2	{visibility: visible;}
.txt		{max-width: 500px;}
.img		{max-width: 400px; margin-right: 1em;}
.keywords   {/*float:right; margin-right: 1em;*/}
.pagenavtitles 	{ float:left; margin-top: 1em; }

#widthIndicator {width:900px}

}


@media (min-width:1281px) { /* hi-res laptops and desktops */ 
/*.menufield 	{background-color:purple;}*/

.article 	{max-width: 1700px; min-width: 1350px; }
.topright2	{width: 9em; margin-right: 1em;} 
.rightcol	{margin-right: 0;}
.bottom		{max-width: 1300px}
.txt		{max-width: 700px;}
/*.img		{max-width: 700px; float:left; margin-right: 0; clear:left;}*/
.keywords   {float:left;/*float:right; width: 9em;*/}

#widthIndicator {width:900px}

}

/*---------------------- store -----------------------*/
/*.shoppingcart	{width:auto; text-align: left; float:right; margin-right:0; margin-bottom: 1em; margin-top: 8px; text-decoration: underline}
.shoppingtitle {width: 100%; display:inline; margin-left:auto; margin-right:auto; text-align: center; text-align-last: center; /*background-color: yellow*/}
/*.singlepanel{clear:both; width: auto; margin:2em; padding: 1em;background-color: white; border:1px solid black;border-radius:2px;-webkit-box-shadow: 8px 8px 0px 0px rgba(204,204,204,1);box-shadow: 8px 8px 0px 0px rgba(204,204,204,1);}*/
.imgbox {width: 100%; float: left; display: inline-block; margin: 0; padding: 0;}
.table {width:100%;margin-bottom:20px}
.img-responsive {margin: 0 10px 0 0  !important}
td.unitprice, td.quantity, pull-left {text-align: center ! important}

.frontpageprice {float: right; font-weight: bold;}

/* --------------------'sidecolumn'---------------- */
.related 	{float:left; width:auto; text-align: left; margin-right: 1em; margin-top: 1em;/*background-color:blue;*/  }
.aixeena_content_tag {margin-top: 1em; margin-bottom: 2em; float:left;}








/* ----------------------- clearfix for nested divs ----------------------- */ 
.clearfix:after 		{content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix 				{display: inline-block;}
html[xmlns] .clearfix 	{display: block;}
* html .clearfix 		{height: 1%;}

.br						{clear:both}
br						{column-break-before: avoid ;}

/* ----------------------------------------------*/ 	






/* ------------------- five random files ---------------------------------- */

.random 	{float:left; text-align:left; margin-right:2em; margin-bottom: 0em; /*border-bottom: 1px solid black;*/ overflow:hidden; padding-bottom: 0em;}
.item 	{display:inline-block; text-align:left; max-width:20em; margin-right:2em; margin-bottom: 0em; overflow:hidden; border-bottom:1px solid black; padding-bottom: 8px;}
.items-row {background-color: none; width:100%; text-align:center; margin-left:auto; margin-right:auto; margin-top: 1em;}
.readmore 	{position:absolute; bottom: 0px;}


/* ------------------- link styles -------------------- */


 




/*.mfp-introtitle:link {text-decoration:none; white-space: nowrap; }*/






/* ------------------- images -------------------- */

	  

.icon 		{background-image:none; margin-top: 0; margin-bottom: 3px}
/*.icon 		{background-image:none; padding-right: 3px; margin-top: 0; float:left}*/



.box 		{display:inline; float: left; max-width: 44em; /*background-color: green;*/ text-align:left; margin-right:2em;}
.top 		{width:auto; text-align: left; float:right; background-color:purple;}


.foot {visibility:hidden}
.leftlist {width:auto; text-align: left; float:left;background-color: yellow;*/ }

.caption {font-style:italic; margin-bottom: 1.5em;}



/* ------------------- table styles for cat list -------------------- 

table, tr, th, fieldset  {border:0; margin: 0; padding:0: border-spacing:0; border-collapse:collapse;}
td.list-date, th.list-date {padding-left: 24px;}
td.list-title {width: 144px;}*/

.format 		{height: 220px; display:table-cell; vertical-align:bottom;}		
.formatblock 	{display:inline-block;  vertical-align:top; text-align:left; width:210px; margin-right:20px; margin-bottom: 2em; overflow:hidden; padding-bottom: 1em;}

/* ------------------- system messages -------------------- */
#system-message-container  {width:100%; text-align:center; margin-left:auto; margin-right:auto; clear:both; color:red}
/* ------------------- editor -------------------- */
.legend {margin:0; padding:0}
.label {display: inline-block; width: 100px;}

div.tip {text-align: left; background-color: white; border: 1px dotted black; padding: 1em;}
.tip-wrap {display: none !important;}
#tinymce, .mceContentBody {clear:both; text-align: left;}

  
/* ------------------- search-------------------- */
  


fieldset {margin:0; padding:0; border: 0}

*:focus {
    outline: none;
}



