	




/* ------------------- body & wrapper -------------------- */
body {font: 10pt/1.4 Helvetica, Arial, sans-serif, Verdana; text-align:center; -webkit-text-size-adjust: 95%; height:100%;}
html{ height:100%;}
#content { text-align:left; margin-left: auto; margin-right: auto; margin: 18px;  max-width:1550px; /*background-color: yellow;*/ min-height: 100%;}
.copy { bottom: 0px; width: auto; padding: 2em; margin: 2em; text-align:center; /*background-color: orange;*/}
	
hr { width: 2em; height: 1px; border:0; border-top: 1px solid black; margin-top:2em; margin-bottom:2em;}		
hr.wide { width: auto; height: 1px; border:0; border-top: 1px solid black; margin-top:1em; margin-bottom:1em;}		


/* ------------------- preview & frontpage -------------------- */

.preview {display:inline-block; text-align:center; width: 140px; margin:10px;}
.preview a:link {text-decoration:none; white-space: nowrap; }
.preview a:hover{text-decoration:underline;}
.preview a:visited {color: black;} 


/* ------------------- news ---------------------------------- */

.newsflash {text-align:center; width: auto; border-top-width:1px; text-transform:lowercase; color:red}
.newsflash a:link, .newsflash a:visited{color:red; text-decoration: none; }

.newsblock 	{float:left; text-align:left; max-width:20em;  margin-right:3em; margin-bottom: 2em; border-bottom: 1px; min-height: 500px; /*overflow:hidden;*/ border-bottom:1px solid black; padding-bottom: 1em;}
.random 	{float:left; text-align:left; width:20em;  margin-right:3em; margin-bottom: 0; border-bottom: 1px; min-height: 500px; /*overflow:hidden;*/ border-bottom:1px solid black; padding-bottom: 1em;}
.pagination{/*clear:left;*/}

/* ------------------- menu style & lists -------------------- */

ul.menu { margin:0; padding:0}
ul.menu #current.selected{font-weight: bold;}
ul.menu li #current.selected:after  {content: ' →'; font-weight: bold;}
ul.menu ul {float: right; position:relative; top:0px; width:auto; padding-left:22px; padding-top:0px; background-color:gray;*/}
ul.menu ul ul{float: right; position:relative; top:0px; width:auto; padding-left:22px; padding-top:0px; background-color:pink;*/}
li.selected.parent{font-weight: bold; content: ' ';}
li.selected.parent>a:after{content: ' →';}
ul li ul a {font-weight: normal;}
ul.menu a {text-decoration: none;}
ul.menu  { margin: 0 5px 1em 0; padding: 0; list-style: none;}
ul.menu li {list-style: none;}
ul.menu a:hover {text-decoration: underline;}
/*ul.menu a:active, a:focus {font-weight: bold;}*/




ul.relateditems, li {list-style: none; text-decoration:none; margin:0; padding:0}
ul.relateditems a {text-decoration: none;}
ul.relateditems a:hover {text-decoration: underline;}
ul.relateditems a:visited {color: gray;} 


/*.nav ul,li a:link{text-decoration:none;}
.nav ul a:hover{text-decoration:underline;}
.nav li ul, li ol {}
.nav ul,  {margin:0 0 2em 0; }
.nav ul li.active a, ul li.active ul {}

#current.selected{font-weight: bold; color: red; }
.nav ul li ul {margin-top: -1em; float:left;}
ul li ul li{clear:both;}
ul li ul li.selected:before{content: ' →';}
li.selected.parent{font-weight: bold;}
li#current.selected.parent:after  {content: ' →';}
#current.selected:after  {content: ' →';}*/

/* ul, li {list-style: none; text-decoration:none;}
ul,li a:link{text-decoration:none;}
ul a:hover{text-decoration:underline;}
li ul, li ol {margin:0;}
ul, ol {margin:0 0 2em 0;padding-left:0;}
dl dt {font-weight:bold;}
ul li.active a, ul li.active ul {} */



/* ------------------- link styles -------------------- */

.tobefiled {text-decoration: line-through;}
 
#sitename {text-transform: lowercase; font-weight: normal; text-decoration:none;}
#sitename:hover, a:focus, a:active {text-decoration:underline;}


a:link {outline:none; color: black; text-decoration: underline;}
a:visited {outline:none; color: black; text-decoration: none; }
a:hover, a:focus, a:active {text-decoration: underline overline;}
		
.archive:link {text-decoration:none; white-space: nowrap; }
.archive:hover{text-decoration:underline;}
.archive:visited {color: gray;} 

/*.mfp-introtitle:link {text-decoration:none; white-space: nowrap; }*/


.cat65:link, 	.cat67:link, 	.cat68:link, 	.cat69:link 	{text-decoration:none; white-space: nowrap; }
.cat65:hover, 	.cat67:hover, 	.cat68:hover, 	.cat69:hover 	{text-decoration:underline;}
.cat65:visited, .cat67:visited, .cat68:visited, .cat69:visited  {color: gray;} 


/* ------------------- pagenav -------------------- */

/*.wide {text-align:center; width: auto; background-color: white; height:1em; white-space:nowrap; }*/
.navlink {visibility: hidden;}
.navlink:hover {width:100%; color: black; text-align: center;}
.navright{width:50%; text-align: left; float:right; }
.navright:hover  .navlink{visibility: visible; text-decoration: underline; color: black;}
.navright:active .navlink{color: black; text-decoration: underline overline;}
.navleft{width:50%; text-align: right; float:left;}
.navleft:hover  .navlink{visibility: visible; text-decoration: underline; color: black;}
.navleft:active .navlink{text-decoration: underline overline;}

.pagenav, li.pagenav  {margin-left:0; padding:0;}

.sort {display:inline-block; text-align:right; width:auto}

/* ------------------- headers -------------------- */

h1, h2, h3, h4, h5, h6 { font-size: 1em; font-weight: bold;}
h2 {-webkit-column-break-before:auto; -moz-column-break-before:auto; column-break-before:auto; margin:0;}
h6 {-webkit-column-span:all; column-span:all; -moz-column-span:all;}

.title {text-align:center; width: auto; border-top-width:1px; text-transform:lowercase; }

/* ------------------- columns -------------------- */
.col {	-moz-column-width: 25em; -webkit-column-width: 25em; column-width: 25em;
		-moz-column-gap:2em; -webkit-column-gap:2em; column-gap:2em; text-align:left;}
		
.narrowcol { -moz-column-width: 17em; -webkit-column-width: 17em; column-width: 17em;
			 -moz-column-gap:2em; -webkit-column-gap:2em; column-gap:2em; text-align:left; display:block;white-space:nowrap;}
		
.widecol {	-moz-column-width:35em; -webkit-column-width: 35em; column-width: 35em;
			-moz-column-gap:2em; -webkit-column-gap:2em; column-gap:2em; text-align:left;}

p {max-width: 47em}	
img {margin-top: 1em; ms-interpolation-mode: bicubic; max-width:100%; height:auto; /*max-width: 200px;*/}
.left img {margin:0}

/*.hiero    	{max-width: 94em;}*/
.box 		{float: left; max-width: 44em; background-color: white; text-align:left; margin-right:2em;}
.left 		{width:auto; text-align: left; float:left;/*background-color: green;*/ }
.lefttxt 	{max-width: 47em; text-align: left; float:left;/*background-color: green;*/ }
.lefttxt2 	{clear:both; max-width: 47em; text-align: left; display:inline-block;/*background-color: green;*/ }
.leftimg	{text-align: left; float:right;/*background-color: green;*/ }
.left1 		{width:auto; text-align: left; float:left; /*margin-right: 1em; background-color: green;*/  }
.left2 		{width:auto; text-align: left; float:left; margin-right: 1em; /*background-color: yellow;*/  }
.left3 		{width:auto; text-align: left; float:left; margin-right: 1em;  /*background-color:orange;*/  }
.left4 		{width:auto; text-align: left; float:right; margin-left: 1em; /*background-color:red;*/  }
.left5 		{width:auto; text-align: left; float:left; margin-right: 1em; /*background-color:pink;*/  }
.related 	{width:auto; text-align: left; float: right; margin-right: 1em; /*background-color:blue;*/  }
.top 		{width:auto; text-align: left; float:right; /*background-color:purple; */ }
.block 		{display:inline-block;}


.foot {visibility:hidden}

.leftlist {width:auto; text-align: left; float:left;background-color: yellow;*/ }


.icon {padding-left: 6px; margin-top: 0}

.right{width:auto; text-align: left; float:right; /*height:2em;*/}
.right:hover  .navlink{visibility: visible; text-decoration: underline; color: black;}
.right:active .navlink{color: black; text-decoration: underline overline;}



/* ------------------- table styles for cat list -------------------- */

table, tr, th, fieldset  {border:0; margin: 0; padding:0: border-spacing:0; border-collapse:collapse;}
td.list-date, th.list-date {padding-left: 24px;}
td.list-title {width: 144px;}

		
/* ------------------- related items -------------------- */
.related {float:right;}


/* ------------------- system messages -------------------- */
#system-message-container  {float: left; clear:both;}
#system-message {color:red}
dt.message {font-weight: bold;}
dd.message message{ margin:0; padding:0}

/* ------------------- editor -------------------- */
.legend {margin:0; padding:0}
.label {display: inline-block; width: 100px;}


  
/* ------------------- text styles-------------------- */
  
h1.one{width: 100%; border-top: 1px solid #000; padding-top: 5px; margin-top:1em; height: 1px; left: 0;top: 55px;display: block;background: #fff;z-index: -1;text-align: center;}

